body {
    background-color: pink;
}

.square {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    position: relative;
    margin: 100px auto;
}

.footer {
    width: 200px;
    height: 200px;
    background: red;
    position: absolute;
    bottom: 0;
    left: 150px;
}

.door {
    width: 75px;
    height: 125px;
    background: brown;
    position: absolute;
    bottom: 0;
    left: 150px;
}

.window {
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    left: 270px;
    bottom: 75px;
}

.roof {
    z-index: 3;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-bottom: 150px solid yellow;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    left: 100px;
}