* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.root {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;

}

.car {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 700px;
  width: 600px;
  border: 1px solid black;
}

img {
  width: 500px;
}
