* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #717477;
}

a {
    text-decoration: none;
}

.flex-container {
    /*border: 1px solid red;*/
    height: 100vh;
    display: flex;
}

.menu {
    display: flex;
    flex-flow: column;
    /*border: 2px solid yellow;*/
    width: 90px;
    height: 100vh;
}

.logo {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 100px 0 0 0 ;
    align-content: space-between;
    /*border: 2px solid purple;*/
}

.container div {
    padding-top: 52px;
}

.content {
    background-color: #F0F5F6;
    display: flex;
    justify-content: center;
    /*border: 3px solid green;*/
    flex: auto;
}

.wrapper {
    display: flex;
    width: 800px;
    flex-flow: column;
    /*border: 3px solid blue;*/
}

.inner {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    height: calc(100vh - 100px);
    /*border: 1px solid pink;*/
}

.div1 {
    display: flex;
    flex-flow: column;
    background-color: #FFFFFF;
    height: 384px;
    width: 100%;
    /*border: 1px solid red;*/
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(1,1,1,.1);
}

.text {
    line-height: 1.85714286;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px dashed grey;
    margin: 30px 32px;
    border-radius: 15px;
}

.text a {
    color: #1E86CD;
    font-weight: bold;
}

.text a:hover {
    background: #E4EEF7;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

button {
    width: 30%;
    border-radius: 40px;
    font-size: 16px;
    padding: 10px 16px;
    background-color: #FFFFFF;
    color: #1E86CD;
    border: 1.5px solid #1e75bb;
    box-shadow: 0 1px 6px #1e75bb, inset 0 1px 2px #1e75bb;
}

button:hover {
    text-decoration: #E4EEF7;
}

.div2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*border: 2px solid black;*/
    padding: 0 30px;
}


.underline:hover {
    text-decoration: underline;
}

.socials {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    height: 100px;
    width: 100%;
    font-size: 17px;
    line-height: 1.5;
    /*border: 1px solid red;*/
}


.links {
    margin-top: 20px;
}