* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

.flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.menu {
    display: flex;
    flex-flow: column;
    width: 100px;
    height: 100vh;
}

.logo {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.nav {
    height: 500px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #F0F5F6;
}

.content-wrapper {
    display: flex;
    flex-flow: column;
    width: 800px;
    height: 100%;
}

.header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.instructions {
    width: 100%;
    height: 384px;
    display: flex;
    flex-flow: column;
    background: white;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 30px 30px 0 30px;
}

.ih {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px dashed grey;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.if {
    display: flex;
    justify-content: center;

    /*Работает как-то криво, не пойму по чем идет выравнивание*/
    /*align-items: center;*/


    width: 100%;
    height: 100px;
}

.button {
    display: flex;
    width: 30%;
    height: 50px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #1E75BB;
    border-radius: 40px;
}

.links {
    display: flex;
    width: 100%;
    padding: 0 30px;
    justify-content: space-between;
}


.footer {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100px;
    align-items: center;
}

.text {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
}

.socials {
    display: flex;
    height: 50px;
    width: 30%;
    justify-content: center;
}

.socials_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 50%;
}


