* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: #707070;
}

body {
    font-size: 18px;
}

.flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    color: #707070;
}

.menu {
    display: flex;
    flex-flow: column;
    min-width: 100px;
    height: 100vh;
}

.logo {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.nav ul {
    height: 500px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    list-style-type: none;
}



.content {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #F0F5F6;
}

.content-wrapper {
    display: flex;
    flex-flow: column;
    width: 800px;
    height: 100%;
}

.header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.instructions {
    width: 100%;
    height: 384px;
    display: flex;
    flex-flow: column;
    background: white;
    border-radius: 15px;
    /*padding: 30px 30px 0 30px;*/
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(1, 1, 1, 0.1);
}

.drop-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 32px;
    border: 1.5px dashed grey;
    height: 100%;
    border-radius: 15px;
    line-height: 1.85714286;
}



.drop-wrapper a {
    text-decoration: none;
    color: #1E75BB;
    font-weight: 900;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    min-height: 100px;
}

.button {
    display: flex;
    width: 30%;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #1E75BB;
    border: 1.5px solid #1E75BB;
    box-shadow: 0 1px 6px #1e75bb, inset 0 1px 2px #1e75bb;
    border-radius: 40px;
}

.button:hover {
    background: #E4EEF7;
    cursor: pointer;
}

.links {
    display: flex;
    width: 100%;
    padding: 0 30px;
    justify-content: space-between;
}

.links p {
    width: 105px;
}

.links a,
.socials_wrapper a{
    text-decoration: none;
    cursor: pointer;
}

.links a:hover {
    text-decoration: underline;
}



.footer {
    display: flex;
    flex-flow: column;
    width: 100%;
    min-height: 100px;
    align-items: center;
}

.text {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
}

.socials {
    display: flex;
    height: 50px;
    width: 30%;
    justify-content: center;
}

.socials_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 50%;
}


